
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./assets/download.jpg);
    background-size:contain;
}
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #020206fa;
    width: 50vw;
    height: 99vh;
    gap: 30px;
    border: 3px solid orangered;
}
#input-contener{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    gap: 15px;
}
#output-contener{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
    color: white;
    width: 40vw;
    height: 30vh;
    border: 2px solid orangered;
    font-size: 25px;
    background-color: rgb(54, 53, 53);
    backdrop-filter: 10px;
}
#userNumber{
    border: 2px solid orangered;
    border-radius: 5px;
    font-size: 20px;
}
button{
    height: fit-content;
    width: fit-content;
    font-size: 22px;
    font-weight: bold;
}
#reset-button{
    background-color: black;
    color: white;
    display:none;
}